.mainview {
  display: flex;
}

.main-name {
  margin: 10px;
  font-size: 24px;
  color: black;
}

.navbar {
  text-align: center;
  height: 100vh;
  border-right: 5px solid black;
  color: #FAFAFA;
  background-image: url(/assets/server_nav_background.jpg);
  background-size: cover;
}

.servercontrol {
  display: flex;
  flex-direction: column;
  margin: 20px;
  line-height: 30px;
}

.create-server:hover {
  color: blue;
}

.server-list:hover, .logout-button:hover {
  color: red;
}

.server-display {
  margin: 10px;
}
