.server-display {
  width: 100%;
}

.server-page {
  display: flex;
  width: 100%;
}

.server-page-main {
  border-right: 1px solid black;
  height: 100vh;
  margin-top: -10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.server-page-subs {
  padding: 10px;
  align-items: center;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: column;
}

.server-page-title, .server-page-sub-title {
  font-size: 24px;
  font-weight: bold;
  color: #4B367C;
  align-content: center;
}
