.server-display {
  width: 100%;
}

.server-page {
  display: flex;
  width: 100%;
}

.server-page-main {
  border-right: 1px solid black;
  height: 100vh;
  margin-top: -10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/server_background.jpg);
  background-size: cover;
}

.server-page-subs {
  margin-top: -10px;
  width: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/sub_nav_background.jpg);
}

.edit-delete-buttons {
  display: flex;
  flex-direction: column;
}

.server-page-title, .server-page-sub-title {
  font-size: 24px;
  font-weight: bold;
  color: #4B367C;
  align-content: center;
}

.server-page-sub-title {
  font-size: 2vw;
}

.server-name {
  border: 1px solid black;
}

.square {
  height: 15%;
  width: 100%;
  background-color: #4B367C;
}
